<h1 class="text-center">All Grades</h1>
<hr class="eventures-bg-color hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Grades</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subject of this.subjects">
            <th scope="row">{{subject}}</th>
            <td>                
                <a *ngFor="let grade of this.getGradesBySubject(subject)" [class]="this.getGradeClass(grade.value)" [routerLink]="[ '/grades/details',grade._id ]">{{grade.value}}</a>                
            </td>
        </tr>
    </tbody>
</table>