<h1 class="text-center">Create Reflection</h1>
<hr class="half-width eduman-bg-color hr-2" />
<form class="mx-auto half-width" #createForm="ngForm" (ngSubmit)="handleCreate(createForm.value)">
    <div class="row mx-auto">
        <div class="form-group text-center font-weight-bold col-6 ">
            <label for="StudentFirstName">Student's First Name</label>
            <input #firstNameInput="ngModel" type="text" required ngModel id="firstName" name="firstName"
                class="form-control" placeholder="John" [pattern]="textRegex">
            <p *ngIf="firstNameInput.invalid && firstNameInput.touched">Please enter a valid first name!</p>
        </div>
        <div class="form-group text-center font-weight-bold col-6 ">
            <label for="StudentLastName">Student's Last Name</label>
            <input #lastNameInput="ngModel" type="text" required ngModel id="lastName" name="lastName"
                class="form-control" placeholder="Doe" [pattern]="textRegex">
            <p *ngIf="lastNameInput.invalid && lastNameInput.touched">Please enter a valid last name!</p>
        </div>
    </div>
    <hr class="eduman-bg-color hr-2" />
    <div class="row mx-auto">
        <div class="form-group col-12 font-weight-bold text-center">
            <label for="Description">Description</label>
            <input #descriptionInput="ngModel" type="text" required ngModel id="description" name="description"
                class="form-control" placeholder="Description" [pattern]="textRegex">
            <p *ngIf="descriptionInput.invalid && descriptionInput.touched">Please enter a valid description!</p>
        </div>
    </div>
    <hr class="eduman-bg-color hr-2" />
    <div class="row mx-auto">
        <div class="ml-auto p-2">
            <label class="radio-inline font-weight-bold">
                <input ngModel type="radio" value="Compliment" checked name="type">Compliment
            </label>
        </div>
        <div class="mr-auto p-2">
            <label class="radio-inline font-weight-bold">
                <input ngModel type="radio" value="Criticism" name="type">Criticism
            </label>
        </div>
    </div>
    <hr class="eduman-bg-color hr-2" />
    <div class="button-holder d-flex justify-content-center">
        <button [disabled]="createForm.invalid" class="btn eduman-bg-color">Create</button>
    </div>
</form>