<h1 class="text-center">All Absences</h1>
<hr class="eventures-bg-color hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Date Absent</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <th scope="row">StudentName</th>
                <td>Subject</td>
                <td>TeacherName</td>
                <td>DateAbsent.ToString("dd/MM/yyyy hh:mm")</td>
            </tr>
        
    </tbody>
</table>