<h1 class="text-center">All Events</h1>
<hr class="eventures-bg-color hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Type</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Due Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>


        <tr *ngFor="let event of events">
            <th scope="row">{{event.studentFullName}}</th>
            <td>{{event.type}}</td>
            <td>{{event.teacherFullName}}</td>
            <td>{{event.eventDate}}</td>
            <td><a class="btn eduman-secbg-color text-white" [routerLink]="[ '/events/details',event._id ]">Details</a></td>
        </tr>


    </tbody>
</table>