<h1 class="text-center">Fee</h1>
<hr class="hr-2 bg-dark" />
<div class="half-width mx-auto d-flex justify-content-between">
    <h3 class="text-center">{{fee.firstName}} {{fee.lastName}}</h3>
    <h3 class="text-center">{{fee.teacherFullName}}</h3>
</div>
<hr class="hr-2 bg-dark" />
<div class="half-width mx-auto d-flex justify-content-between">
    <h3 class="text-center">{{fee.cost}}</h3>
    <h3 class="text-center">{{fee.feeDate}}</h3>
</div>
<hr class="hr-2 bg-dark" />
<h3 class="text-center">Description</h3>
<p class="text-center mt-4">
    {{fee.description}}
</p>
<hr class="hr-2 bg-dark" />
<h3 class="text-center">Actions</h3>
<div class="mt-4 d-flex justify-content-around">
    <div class="mt-4 d-flex justify-content-around">
        <a class="btn eduman-secbg-color text-white" routerLink='/fees/all'>Back To All</a>
    </div>
</div>