<h1 class="text-center">Confirm Users</h1>
<hr class="bg-dark hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Student Username</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        
            <tr>
                <th scope="row">FullName</th>
                <td>Username</td>
                <td>Role</td>
                <td>                    
                        <button type="submit" class="btn eduman-bg-color" (click)='confirmUser()'>Confirm</button>                    
                </td>               
            </tr>

        
    </tbody>
</table>